$couleur1: rgb(178, 210, 50);
$couleur1alpha: rgba(178, 210, 50, 0.85);
$couleur2: rgb(97, 161, 217);
$couleur2alpha: rgba(97, 161, 217, 0.85);
$couleur3: #606060;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$bolder: 700;